In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import stats

In [2]:
df=pd.read_csv("role_website.csv")
df

       Role   Website
0   student  facebook
1   student  facebook
2   student  facebook
3   teacher  linkedin
4   teacher  linkedin
5   student  facebook
6   teacher  linkedin
7   student  linkedin
8   teacher  facebook
9   teacher  facebook
10  student  linkedin
11  student  facebook
12  teacher  linkedin
13  student  linkedin
14  student  facebook
15  teacher  linkedin

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Role     16 non-null     object
 1   Website  16 non-null     object
dtypes: object(2)
memory usage: 384.0+ bytes

In [9]:
df.describe()

           Role   Website
count        16        16
unique        2         2
top     student  linkedin
freq          9         8

In [12]:
df.dtypes

Role       object
Website    object
dtype: object

In [16]:
# Create contigency table

df_crosstab=pd.crosstab(df['Role'], df['Website'], margins=True)
print(df_crosstab)

Website  facebook  linkedin  All
Role
student         6         3    9
teacher         2         5    7
All             8         8   16

In [18]:
df_crosstab.columns=["Facebook", "Linkedin", "Rows_Total"]
df_crosstab.index=["Student", "Teacher", "Col_Total"]
df_crosstab

           Facebook  Linkedin  Rows_Total
Student           6         3           9
Teacher           2         5           7
Col_Total         8         8          16

In [22]:
# Get the observed table

observed=df_crosstab.iloc[0:2,0:2]
observed

         Facebook  Linkedin
Student         6         3
Teacher         2         5

In [46]:
#from scipy.stats import chi2_contingency
import scipy.stats as st

# Chi Square test

In [48]:
#Calculate Chi square

chi2,p,dof,expected=st.chi2_contingency(observed=observed)

print("Chi square =", chi2)
print("P value=", p)
print("DOF =", dof)
print("Expected value", expected)

Chi square = 1.0158730158730158
P value= 0.31349994558358524
DOF = 1
Expected value [[4.5 4.5]
 [3.5 3.5]]

# ANOVA Test

In [40]:
# Lets find the ANalysis Of Variances

from scipy.stats import f_oneway

In [45]:
SectionA=[30,30,50,74,79]
SectionB=[99,80,89,99,54]
SectionC=[90,89,76,66,84]

f_oneway(SectionA, SectionB, SectionC)

F_onewayResult(statistic=4.563499245852188, pvalue=0.033578451813110234)